<!DOCTYPE html>
<html>
<head>
  <title>Channel Details</title>

<script>
  function toggleVisibility(containerId, buttonId, showText, hideText) {
    const container = document.getElementById(containerId);
    const button = document.getElementById(buttonId);
    if (container.style.display === 'none') {
      container.style.display = 'block';
      button.textContent = hideText;
    } else {
      container.style.display = 'none';
      button.textContent = showText;
    }
  }
</script>
</head>
<body>
  <h1>Channel Details</h1>

  <p><strong>Channel ID:</strong> <%= channelID %></p>

  <% if (channelDetails.channel) { %>
    <p><strong>Title:</strong> <%= channelDetails.channel.channelName %></p>
    <p><strong>Description:</strong> <%= channelDetails.channel.channelDescription %></p>
    <p><strong>Subscribers:</strong> <%= channelDetails.channel.subscriberCount %></p>
    <p><strong>Status:</strong> <%= channelDetails.channel.status %></p>
    <p><strong>Last Checked:</strong> <%= channelDetails.channel.lastCheckedAt %></p>
    
    <% const uploads = channelDetails.uploads || {}; 
    const videos = uploads.videos || [];%>
<p><strong>Vidos Uploaded:</strong> <%=videos.length%>/<%= uploads.playlist.size %></p>
<%if (videos.length < uploads.playlist.size) {%>
  <form method="GET" action="">
    <button type="submit" name="updateVideo" value="true">Update</button>
  </form>
  <%} %>
<p><strong>Videos:</strong>  <%
  if (videos.length > 0) { %><button id="toggleVideosButton" onclick="toggleVisibility('videosContainer', 'toggleVideosButton', 'Show Videos', 'Hide Videos');">Show Videos</button>

    <ul id="videosContainer" style="display: none;">
      <% videos.forEach(video => { %>
        <li><%= video.title %> - <%= video.publishedAt %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No videos found.</p>
  <% } %></p>
  <% } else { %>
    <p>Channel not found.</p>
  <% } %>

</body>
</html>
