<!DOCTYPE html>
<html>
<head>
  <title>Channel Details</title>

<script>
  function toggleVisibility(containerId, buttonId, showText, hideText) {
    const container = document.getElementById(containerId);
    const button = document.getElementById(buttonId);
    if (container.style.display === 'none') {
      container.style.display = 'block';
      button.textContent = hideText;
    } else {
      container.style.display = 'none';
      button.textContent = showText;
    }
  }
</script>
</head>
<body>
  <h1>Channel Details</h1>

  <p><strong>Channel ID:</strong> <%= channelID %></p>

  <% if (channelDetails.channel) { %>
    <p><strong>Title:</strong> <%= channelDetails.channel.channelName %></p>
    <p><strong>Description:</strong> <%= channelDetails.channel.channelDescription %></p>
    <p><strong>Subscribers:</strong> <%= channelDetails.channel.subscriberCount %></p>
    <p><strong>Status:</strong> <%= channelDetails.channel.status %></p>
    <p><strong>Last Checked:</strong> <%= channelDetails.channel.lastCheckedAt %></p>
    
    <% const uploads = channelDetails.uploads || {}; 
    const videos = uploads.videos || [];%>
    <p><strong>Vidos Uploaded:</strong> <%=videos.length%>/<%= uploads.playlist.size %></p>
<%if (videos.length < uploads.playlist.size) {%>

  <form method="GET" action="">
    <button type="submit" name="updateVideo" value="true">Update</button>
  </form>
  <%} %>
<p><strong>Videos:</strong>  <%
  if (videos.length > 0) { %><button id="toggleVideosButton" onclick="toggleVisibility('videosContainer', 'toggleVideosButton', 'Show Videos', 'Hide Videos');">Show Videos</button>

    <ul id="videosContainer" style="display: none;">
      <% videos.forEach(video => { %>

<%const snippet = video.archive[0].snippet
const statistics = video.statistics
//const commentCount = statistics.commentCount
console.log(statistics)
%>
        <li><a href="../video/<%=video.youtubeId%>"><%= video.title %></a> - <%= video.publishedAt %> - <%= video.archive[0].statistics?.commentCount %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No videos found.</p>
  <% } %></p>
  <% } else { %>
    <p>Channel not found.</p>
  <% } %>
  <% const comments = channelDetails.comments || [];
  if (channelDetails.channel.commentCount > 0) {%>
    <p><strong>Comments:</strong><%=channelDetails.comments.length%>/<%=channelDetails.channel.commentCount%><button id="toggleCommentsButton" onclick="toggleVisibility('commentsContainer', 'toggleCommentsButton', 'Show Comments', 'Hide Comments');">Show Comments</button>
    <% if (channelDetails.comments.length < channelDetails.channel.commentCount){%>
       <form method="GET" action="">
    <button type="submit" name="updateComment" value="true">Update</button>
  </form>
      <%}%>
    </p>
    <ul id="commentsContainer" style="display: none;">
      <% comments.forEach(comment => { %>
        <li><%= comment.text %> - <%= comment.publishedAt %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No comments found.</p>
  <% } %>

<p><strong>commenters</strong>
<%=channelDetails.commenters.length%>/<%=channelDetails.channel.commenterCount%>
<button id="toggleCommentersButton" onclick="toggleVisibility('commentersContainer', 'toggleCommentersButton', 'Show Commenters', 'Hide Commenters');">Show Commenters</button>
<% if (channelDetails.commenters.length < channelDetails.channel.commenterCount){%>
  <form method="GET" action="">
    <button type="submit" name="updateCommenters" value="true">Update</button>
  </form>
  <%}%>
  <% if (channelDetails.commenters.length > 0) { %>
    <ul id="commentersContainer" style="display: none;">
      <% channelDetails.commenters.forEach(commenter => { %>
        <li><a href="<%= commenter.youtubeChannelId %>"><%= commenter.channelName %></a> - <%= commenter.youtubeChannelId %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No commenters found.</p>
  <% } %>
</p>

</body>
</html>
